.todo-item {
    list-style-type: none;
    background-color: rgb(121, 113, 139);
    padding: 10px 40px;
    
    margin: 20px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}